<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Internal server errors</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/layout.css?__inline=true"/>
</head>
<body>
<div class="table">
    <div class="cell">
        <img src="<%%=baseUrl%%>/content/views/src/images/500.png" alt="500" style="width: 50%; min-width: 70px; max-width: 273px;max-height: 319px"/>

        <div class="main-text">
            Internal server error
        </div>
        <div>
            Sorry, something went wrong. <br/>
            There is a problem with the resource you are looking for, and it cannot be displayed. Error id = <%%=id%%>
        </div>
    </div>
</div>
</body>
</html>