<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Not supported browser</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/layout.css?__inline=true"/>
</head>
<body>
<div class="table">
    <div class="cell">
        <img src="<%%=baseUrl%%>/content/views/src/images/not-supported.png" alt="Unsupported browser"
             style="width:30%;min-width:60px;max-width: 100px; max-height: 81px"/>

        <div class="main-text">
            Your browser is not supported!
        </div>
        <div>
            To use appsngen portal properly, we recommend using the latest versions of:
        </div>
        <div style="text-align: center;margin-top:10px;margin-top: 1rem;">
            <div class="browser">
                <img class="ie" src="<%%=baseUrl%%>/content/views/src/images/ie.png" alt="Internet explorer" style="max-width: 64px;max-height: 69px"/>

                <div class="browser-name">IE8+</div>
            </div>
            <div class="browser">
                <img class="ff" src="<%%=baseUrl%%>/content/views/src/images/fox.png" alt="FireFox" style="max-width: 73px;max-height: 71px"/>

                <div class="browser-name">FireFox</div>
            </div>
            <div class="browser">
                <img class="chrome" src="<%%=baseUrl%%>/content/views/src/images/ch.png" alt="Chrome" style="max-width: 74px;max-height: 71px"/>

                <div class="browser-name">Chrome</div>
            </div>
            <div class="browser">
                <img class="safari" src="<%%=baseUrl%%>/content/views/src/images/sf.png" alt="Safari" style="max-width: 67px;max-height: 69px"/>

                <div class="browser-name">Safari</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>