<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page not found</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/layout.css?__inline=true"/>
</head>
<body>
<div class="table">
    <div class="cell">
        <img src="<%%=baseUrl%%>/content/views/src/images/404.png" alt="404" style="max-width: 346px; min-width: 200px; width: 80%;max-height: 202px"/>

        <div class="main-text" style="margin-top: 0.5rem">
            You are lost!
        </div>
        <div>
            The resource you are looking for (<%%=resource%%>) has been removed, had its name changed, or is temporarily unavailable.
        </div>
    </div>
</div>
</body>
</html>