<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            color: #F4F4F4;
            background-color: #2C2C2C;
        }
    </style>
</head>
<body>

<blockquote>
    <h2>
        Access to the widget has been forbidden
    </h2>

    <p>
        We apologise for the inconvenience. <br>
        <%%=message%%>. <br>
        Access to the widget has been forbidden. <br>
        Please
        <a href="mailto:%%support.email.address%%" style="cursor: pointer;color: #F4F4F4;">
            contact
        </a>
        support team if necessary.
    </p>
</blockquote>

</body>
</html>
